<ion-view title="Timer">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <h1 class="timer"><time>00:00:00</time></h1>
            </div>
        </div>
        <div class="button-bar">
            <button id="start" class="button button-balanced button-block  icon-left ion-play">Start</button>
            <button id="stop" class="button button-assertive button-block  icon-left ion-stop">Stop</button>
            <button id="clear" class="button button-stable button-block  icon-left ion-android-close">Reset</button>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>